@model IEnumerable<Assignment2.Models.Orderss>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Department.Grocery_dept)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Department.Grocery_dept)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Order_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Order_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Order_ID })
        </td>
    </tr>
}

</table>
